*{
    font-family: "Be Vietnam Pro", sans-serif;
  }


.login-container {
    max-width: 500px;
    margin: 5rem auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.login-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    margin-bottom: 20px;
}

.fieldset {
    margin-bottom: 20px;
}

.fieldset label {
    font-size: 18px;
    color: #333;
}

.fieldset input,
.login-container button[type="submit"] {
    width: calc(100% - 22px); /* Calcula a largura considerando o padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

.fieldset input:focus {
    outline: none;
    border-color: #007bff;
}

.login-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.registro-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

.registro-button:hover {
    color: #0056b3;
}

.login-container .success {
    color: #008000;
}

.login-container .error {
    color: #ff0000;
}
