/* TodoForm Styles */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h2 {
    color: #6d6875;
    margin-bottom: 20px;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    width: 100%;
    text-align: left;
    color: #6d6875;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="checkbox"],
.form-container input[type="datetime-local"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #f67280;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.form-container input[type="submit"]:hover {
    background-color: #ff7b8a;
}
