* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #f9ece9; 
    color: #6d6875; 
    padding: 10px 20px; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #000; 
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .login,
  .create-todo-button {
    margin-left: 20px;
    text-decoration: none;
    color: #25221ecc;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .login:hover,
  .create-todo-button:hover {
    color: #f67280; 
  }
  
  .create-todo-button {
    background-color: #fff;
    margin-left: 20px;
    text-decoration: none;
    color: #25221ecc;
    border: 2px solid #fff; 
    border-radius: 20px; 
    padding: 8px 16px; 
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .create-todo-button:hover {
    color: #f67280; 
  }

  .login {
    margin-left: 20px;
    text-decoration: none;
    color: #25221ecc;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
    border-left: 1px solid #25221ecc; 
    padding-left: 10px; 
  }
  
  