*{
    font-family: "Be Vietnam Pro", sans-serif;
  }


.navbar {
    color: #333; 
    padding: 15px 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    align-items: center;
}

.login,
.create-todo-button {
    text-decoration: none;
    color: #333; 
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    padding: 0 10px;
}

.login:hover {
    color: #007bff; 
}



.create-todo-button {
    color: white;
    background-color: #007bff; 
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.create-todo-button:hover {
    background-color: #0056b3; 
}

.logo {
    font-size: 1.8em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center; 
    transition: color 0.3s ease;
}

.icon {
    margin-right: 10px; 
}

.logo:hover {
    color: #007bff; 
}

.nav-links {
    margin-left: auto;
}
